---
import '../../styles/globals.css';
---
<div class="Clinic_layout">
    <div class="Clinic_box">
    <div class="About">
        <h5>About Us</h5>
        <h2>Welcome to Ddsgnr clinic</h2>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, veniam vero 
        natus earum at quas nisi iusto asperiores, debitis iste, amet mollitia blanditiis 
        error velit tenetur soluta placeat repellendus eaque tempora.
        </p>
    </div>

    <div class="btn_cntrl">
    <div class="Clinic_btn">
        <button class="btn_1">Book an Appointment</button>
    </div>
    </div>
    </div>

    <div class="Clinic_bg">
        <img src="/doc.png" alt="Clinic Image" />
    </div>
</div>

