<div class="contact-form">
    <h2>Conctact Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel explicabo omnis quisquam odio.</p>
    <form action="">
        <div>
            <label for=""></label>
        </div>
        <div>
            <label for=""></label>
        </div>
        <div>
            <label for=""></label>
        </div>
        <div>
            <label for=""></label>
        </div>
        <div>
            <label for=""></label>
        </div>
        <div>
            <label for=""></label>
        </div>
        <div>
            <label for=""></label>
        </div>
    </form>
</div>