<footer>
  <div class="footer-top">
    <div class="contact-section">
      <a href="/" class="main-icon">
        <img src="/main-icon.svg" alt="header icon" />
        <p><strong>Ddsgnr</strong></p>
      </a>
    </div>

  </div>
  <div class="footer-bottom">

  </div>
</footer>