---
import { FaFacebookF } from "react-icons/fa";
import { FaInstagram } from "react-icons/fa";
import { FaTwitter } from "react-icons/fa";
import { FaLinkedin } from "react-icons/fa";
import { RxHamburgerMenu } from "react-icons/rx";
import { IoIosSearch } from "react-icons/io";

const links = [
  {
    href: "https://facebook.com",
    label: "Facebook",
    icon: FaFacebookF,
  },
  {
    href: "https://instagram.com",
    label: "Instagram",
    icon: FaInstagram,
  },
  { href: "https://twitter.com", label: "Twitter", icon: FaTwitter },
  {
    href: "https://linkedin.com",
    label: "Linkedin",
    icon: FaLinkedin,
  },
];
---

<header>
  <div class="header-top">
    <div class="contact-info">
      <p><strong>For emergency cases: 567 123 45 67</strong></p>
      <p>Location:121 Wallstreet Street, NY , USA</p>
      <p>Open hours: 9.00-24.00 Mon-Sat</p>
      <p>Email:info@Ddsgnr.com</p>
    </div>
    <ul class="sns-link">
      {
        links.map((link) => (
          <li>
            <a href={link.href} target="_blank" rel="noopener noreferrer">
              <link.icon size="24" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="header-bottom">
    <button class="menu-btn" id="menu-btn">
      <RxHamburgerMenu size="24" />
    </button>
    <a href="/" class="main-icon">
      <img src="/main-icon.svg" alt="header icon" />
      <p><strong>Ddsgnr</strong></p>
    </a>
    <button class="search-btn" id="search-btn">
      <IoIosSearch size="24" />
    </button>
    <div>
      <nav>
        <ul class="nav-link">
          <li><a href="/">Home</a></li>
          <li><a href="/doctors">Doctors</a></li>
          <li><a href="/departments">Departments</a></li>
          <li><a href="/about">About Us</a></li>
        </ul>
      </nav>
    </div>
    <button class="book-btn">Book an Appointment</button>
  </div>

  <!-- mobile menu -->
  <div class="mobile-menu" id="mobile-menu">
    <button class="close-btn" id="close-btn">&times;</button>
    <nav>
      <ul class="mobile-nav-link">
        <li><a href="/">Home</a></li>
        <li><a href="/doctors">Doctors</a></li>
        <li><a href="/departments">Departments</a></li>
        <li><a href="/about">About Us</a></li>
      </ul>
    </nav>
  </div>
</header>

<script src="src/js/mobile-menu.js" type="module"></script>
