<div class="container-help">
    <div class="help">
        <div class="help-content">
            <h2>How we  can help...</h2>
            <div class="text">
                <p>We offer a wide range of procedures to  help you get the perfect smile</p>
                <div class="quote-container">
                    <a class="quote" href="#">Request a quote</a>
                </div>
            </div>
        </div>
        <div class="buttton-appoinment">
            <button class="book-appoinment">Book an Appoinment</button>
        </div>
    </div>
    <script src="/src/js/help.js"></script>
</div>