<div class="help">
    <h2>How can we help...</h2>
    <p>We offer a wide range of procedures to  help you get the perfect smile</p>
    <p class="quote">Request a quote</p>
    <button class="book-appoinment">Book an Appoinment</button>
</div>