<div class="news-letter">
  <h2 class="news-letter__title">Subscribe to our newsletter</h2>
  <p class="news-letter__description">
    Subscribe to our newsletter and get the latest news and updates from Ddsgnr.
  </p>
  <form class="news-letter__form" id="news-letter-form">
    <input class="news-letter__form__input" type="email" placeholder="Enter your email" required />
    <button class="news-letter__form__button" type="submit">Sign Up</button>
  </form>
  <p class="news-letter__terms">
    By clicking Sign Up you're confirming that you agree with our Terms and
    Conditions.
  </p>
</div>

<script src="src/js/letter.js" type="module"></script>
