<div id="splide" class="splide slider">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="slider-container">
                    <div class="rate">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                    </div>
                    <div class="slider-text">
                        <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab harum iure est, sint porro ea eligendi consequuntur, quasi rem ullam accusantium quis dicta nobis tempora, expedita tempore magnam autem neque!"</p>
                    </div>
                    <div class="person-testimonial">
                        <img src="/src/images/testimonial/person 1.jpg" alt="Testimonial Image">
                        <p class="testimonial-name">Emil Sanchez</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-container">
                    <div class="rate">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                    </div>
                    <div class="slider-text">
                        <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab harum iure est, sint porro ea eligendi consequuntur, quasi rem ullam accusantium quis dicta nobis tempora, expedita tempore magnam autem neque!"</p>
                    </div>
                    <div class="person-testimonial">
                        <img src="/src/images/testimonial/person 2.jpg" alt="Testimonial Image">
                        <p class="testimonial-name">Santiago Rocha</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-container">
                    <div class="rate">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                    </div>
                    <div class="slider-text">
                        <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab harum iure est, sint porro ea eligendi consequuntur, quasi rem ullam accusantium quis dicta nobis tempora, expedita tempore magnam autem neque!"</p>
                    </div>
                    <div class="person-testimonial">
                        <img src="/src/images/testimonial/person 3.jpg" alt="Testimonial Image">
                        <p class="testimonial-name">Joseph Smit</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-container">
                    <div class="rate">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                    </div>
                    <div class="slider-text">
                        <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab harum iure est, sint porro ea eligendi consequuntur, quasi rem ullam accusantium quis dicta nobis tempora, expedita tempore magnam autem neque!"</p>
                    </div>
                    <div class="person-testimonial">
                        <img src="/src/images/testimonial/person 4.jpg" alt="Testimonial Image">
                        <p class="testimonial-name">Lauren Winston</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="slider-container">
                    <div class="rate">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                        <img src="/src/images/testimonial/rate.png" alt="">
                    </div>
                    <div class="slider-text">
                        <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab harum iure est, sint porro ea eligendi consequuntur, quasi rem ullam accusantium quis dicta nobis tempora, expedita tempore magnam autem neque!"</p>
                    </div>
                    <div class="person-testimonial">
                        <img src="/src/images/testimonial/person 5.jpg" alt="Testimonial Image">
                        <p class="testimonial-name">Jonh Wilson</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script src="../js/slider.js"></script>
</div>




