<section class="clinic-section">
  <div class="clinic-header">
    <h6>Why choose us</h6>
    <h2>Why choose Ddsgnr clinic?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore minus numquam explicabo, iure exercitationem sunt ea harum, tenetur expedita porro quaerat quos temporibus distinctio pariatur. Autem nobis necessitatibus esse dolorem.
    </p>
  </div>

  <div class="clinic-content">
    <div class="clinic-info">
      <h4>Easy booking</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>

      <h4>Experience</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
    </div>

    <div class="clinic-image">
      <img src="/nurse.png" alt="Clinic" />
    </div>

    <div class="clinic-info">
      <h4>Flexible schedule</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>

      <h4>Best price guarantee</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
    </div>
  </div>

  <div class="clinic-buttons">
    <button class="primary-btn">Book an Appointment</button>
    <button class="secondary-btn">Learn more</button>
  </div>
</section>
