@import "generals";

.contact-form{
    padding-top: 2em;
    width: auto;
    height: auto;
    background-color: $gray;
    h2{
        text-align: center;
        margin-bottom: .5em;
    }

    p{
        width: 80%;
        text-align: justify;
        margin: 0 auto;
    }

    .form-container{
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 80%;
        margin: 0 auto;

        .form-input{
            display: flex;
            flex-direction: column;
            margin: 1em 0 0 0;
            input,select{
                border: 1px solid $black;
                padding-left: 1em;
                height: 3em;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                font-size: 1em;
            }
            .terms-text{
                margin-right: 1em;
            }
        }
        .terms{
            text-decoration: underline;
        }
        #message{
            margin: .4em;
            border: 1px solid $black;
            padding: 1em;
            font-size: 1.2em;
        }
        .submit-form{
            width: 100px;
            height: 48px;
            background-color: $black;
            color: white;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            margin-bottom: 3em;
        }
    }
}

@media (min-width: $breakpoint-large) {
    .contact-form{
        background-color: white;
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
        .responsive-form{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            column-gap: 1em;
        }
        .image-form{
            margin-right: 1.5em;
            .img-form {
                min-width: 100%;
                min-height: 90%;
                width: 100%;
                height: auto;
            }              
        }
    }
}