* {
  box-sizing: border-box;
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3em;
}

p {
  font-size: 1.1em;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3em;
}

p {
  font-size: 1.1em;
}

.contact-form {
  background-color: #f4f4f4;
}
.contact-form h2 {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3em;
}

p {
  font-size: 1.1em;
}

@media (min-width: 932px) {
  #doctors {
    padding: 112px 64px;
    text-align: center;
  }
  #doctors .title {
    text-align: center;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  #doctors .title h1 {
    font-size: 56px;
  }
  #doctors .title p:first-child {
    font-size: 16px;
  }
  #doctors .title p:last-child {
    font-size: 18px;
  }
  #doctors .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 80px;
  }
  #doctors .cards .card.visible {
    display: block;
  }
  #doctors .cards .card {
    text-align: center;
    width: 33%;
    display: none;
  }
  #doctors .cards .card img {
    width: 250px;
    height: 250px;
    margin-bottom: 24px;
  }
  #doctors .cards .card .detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  #doctors .cards .card .detail .name {
    font-size: 24px;
    font-weight: 700;
  }
  #doctors .cards .card .detail .section {
    font-size: 18px;
    font-weight: 400;
  }
  #doctors .cards .card .detail .field {
    font-size: 14px;
    font-weight: 600;
  }
  #doctors button {
    margin-top: 80px;
    padding: 12px 24px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
  }
  #doctors button:hover {
    background-color: gray;
  }
}
@media (max-width: 932px) {
  #doctors {
    padding: 48px 24px;
    text-align: center;
  }
  #doctors .title {
    text-align: center;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  #doctors .title h1 {
    size: 32px;
  }
  #doctors .title p:first-child {
    display: none;
  }
  #doctors .title p:last-child {
    display: none;
  }
  #doctors .cards {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
  #doctors .cards .card.visible {
    display: block;
  }
  #doctors .cards .card {
    text-align: center;
    width: 100%;
    display: none;
  }
  #doctors .cards .card img {
    width: 250px;
    height: 250px;
    margin-bottom: 24px;
  }
  #doctors .cards .card .detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  #doctors .cards .card .detail .name {
    font-size: 24px;
    font-weight: 700;
  }
  #doctors .cards .card .detail .section {
    font-size: 18px;
    font-weight: 400;
  }
  #doctors .cards .card .detail .field {
    font-size: 14px;
    font-weight: 600;
  }
  #doctors button {
    margin-top: 80px;
    padding: 12px 24px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
  }
  #doctors button:hover {
    background-color: gray;
  }
}

/*# sourceMappingURL=globals.css.map */
